@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme inline {
  /* ----- FONTS VARIABLES ----- */
  --font-autography: var(--font-autography-local);
  --font-newspaper: var(--font-newspaper-local);

  /* ----- FONT WEIGHTS ----- */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;

  /* ----- COLOR VARIABLES ----- */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-navbar: var(--navbar);
  --color-switch: var(--switch);

  /* ----- Layout global ----- */
  --container-content: 80rem; /* 1280px */
  --spacing-page: clamp(1.5rem, 5vw, 6rem);

  /* ----- Hover transitions ----- */
  --hover-offset: -2px;
  --hover-duration: 180ms;
  --hover-ease: cubic-bezier(0.22, 1, 0.36, 1);
}

:root {
  --background: #FFF0F3;
  --foreground: #FF758F;
  --muted: #FFB3C1;
  --primary: #590D22;
  --secondary: #A4133C;
  --accent: #FF4D6D;
  --border: #800F2F;
  --navbar: #FF758F;
  --switch: #FF758F;
}

/* ===== Web Development ===== */
/* ----- Light mode ----- */
html[data-theme="light"] [data-area="web"]{
  --background: #FFF0F3;
  --foreground: #FF758F;
  --muted: #FFB3C1;
  --primary: #590D22;
  --secondary: #A4133C;
  --accent: #FF4D6D;
  --border: #800F2F;
  --navbar: #590D22;
  --switch: var(--foreground);
}

/* ----- Dark Mode -----*/
html[data-theme="dark"] [data-area="web"]{
  --background: #17070D;
  --foreground: #FFE5EC;
  --muted: #C98797;
  --primary: #FF8FA3;
  --secondary: #FF4D6D;
  --accent: #FF758F;
  --border: #8F2D4A;
  --navbar: #4A1025;
  --switch: var(--foreground);
}

/* ===== Game Development ===== */
/* ----- Light mode ----- */
html[data-theme="light"] [data-area="games"]{
  --background: #E0FBFC;
  --foreground: #253237;
  --muted: #5C6B73;
  --primary: #253237;
  --secondary: #5C6B73;
  --accent: #9DB4C0;
  --border: #9DB4C0;
  --navbar: #253237;
  --switch: #border;
}

/* ----- Dark Mode -----*/
html[data-theme="dark"] [data-area="games"]{
  --background: #253237;
  --foreground: #E0FBFC;
  --muted: #9DB4C0;
  --primary: #C2DFE3;
  --secondary: #9DB4C0;
  --accent: #E0FBFC;
  --border: #5C6B73;
  --navbar: #33474E;
  --switch: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-newspaper-local), serif;
}